*{
    --bg-dark:#131129;
    --bg-left-content:#1D1932;
    --bg-search-top:#1D1932;
    --bg-search-input:#131129;
    --dis-flex:flex;
    --dis-grid:grid;
    --center:center;
}

.contianer{
display: var(--dis-grid);
grid-template-columns: 6% 94%;
background-color:var(--bg-dark) ;
min-height: 100vh;
height: 100%;
}

.left-content {
    padding-top: 3rem;
    background-color: var(--bg-left-content) ;
justify-items: var(--center);
}


.right-content{
    padding-top: 2rem;
    width: 95%;
margin:0 auto;

}

.all-icons{
    height: 100%;
    display: var(--dis-grid);
    grid-template-rows: repeat(6, 4rem);
    text-align: center;
}
.all-icons li {
     list-style: none;
}
.last-icon-navbar{
    position: fixed;
    bottom: 2.5rem;
    left: 2.4rem;
}
.top-temp {
    display: var(--dis-grid);
    grid-template-columns: 23% 30%;
 justify-content: space-between;

}
.search-top {
    display: var(--dis-flex);

    padding:  0.5rem 1rem;
    border-radius:1rem ;
    background-color: var(--bg-search-top);
    -webkit-border-radius:1rem ;
    -moz-border-radius:1rem ;
    -ms-border-radius:1rem ;
    -o-border-radius:1rem ;
}
.search-top input {
    background-color: var(--bg-search-input);
    border: none;
    background:var(--center);
    outline: none;
    color: white;
}
.right-item {
    text-align: end;
display: var(--dis-flex);
justify-content: end;
column-gap: 2rem;
align-items: var(--center);
}











/* loader */





.loader{
    width: 200px;
    height: 200px;
    margin:2rem  ;
    border: 1.5rem black solid ;
    border-radius: 30rem;
    border-right: 1.5rem blue solid;
    border-top: 1.5rem blue solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}




















